.profile{
    position: sticky;
    top: 0;
}
.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.profile-container{
    display: flex;
}
.location{
    height: 15px;
    width: 15px;
}
.user-info{
    display: flex;
    padding: 5px 30px;
    background-color: rgb(230, 230, 241);
}
.time-count{
    margin-right: 15px;
    border-radius: 30px;
    padding: 4px;
    background-color: whitesmoke;
}
.timer{
    background-color: rgb(230, 230, 241);
}
.time-count:hover{
    background-color: rgb(175, 175, 218);
    cursor: pointer;
}
.details, .break-time{
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 241);
}
.activity-button{
    width: 100%;
    border: 0;
    background-color: rgb(58, 13, 103);
    color: whitesmoke;
}
.activity-button:hover{
    background-color: rgb(120, 67, 173);
}