.profile-picture{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.profile-container{
    display: flex;
}
.location{
    height: 20px;
    width: 20px;
}
.user-info{
    display: flex;
    padding: 5px 30px;
    background-color: rgb(224, 224, 234);
}
.time-count{
    margin-right: 15px;
    border-radius: 30px;
    padding: 4px;
    background-color: whitesmoke;
}
.timer{
    background-color: rgb(224, 224, 234);
}
.time-count:hover{
    background-color: rgb(120, 120, 209);
    cursor: pointer;
}
