.card-container{
    background-color: rgb(229, 229, 85);
    padding: 20px;
    border-radius: 10px;
    height: 350px;
    position: relative;
}
.button-add{
    width: 100%;
    border: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: blueviolet;
    border-radius: 0 0 10px 10px;
}